//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 30 23:26:12 2020
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

